<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Amount</th>
        <th scope="col">Trainer Preference</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of app; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{app.name}}</td>
        <td>{{app.address}}</td>
        <td>{{app.packaget}}</td>
        <td>{{app.trainer}}</td>
        <td>{{app.phone}}</td>
      </tr>
    </tbody>
  </table>
